body {
    font-family: 'Raleway', sans-serif;
    background-color: #6497f5;
}

.board-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-title {
    margin: 25px 0px 0px 25px;
    font-size: 3em;
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .main-title {
        font-size: 1.8em;
    }
}

.green-square1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 50%;
    background-color: #05316b;
}

.green-square2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 50%;
    background-color: #00b176;
}

.inner-board-container {
    z-index: 9999;
    background-color: #8bb4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333333;
    width: 200px;
    height: 200px;
    text-align: center;

}

.leaderboard h3 {
    color: #f9f9f9;
}

.leaderboard p {
    color: #f9f9f9;
    font-size: 2em;
}

table {
    margin: 25px 0px;
    border-spacing: 0;
}

.game-info {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.game-info h2 {
    margin: 10px;
}

.difficulty, .timer-flags-reset {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.timer-flags-reset {
    box-shadow: 0px 20px 13px -10px rgba(0, 0, 0, 0.25);
}

.timer-flags-reset div, .difficulty div {
    width: 33%;
    text-align: center;
}

.difficulty div {
    margin-top: 20px;
}

.lives-section {
    text-align: center;
    margin-top: 15px;
}

.cell {
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    background-color: #C0C0C0;
    border: 4px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
}

.shown {
    background-color: #C0C0C0;
    border: none;
}

.marked {
    background-color: rgb(228, 172, 172);
}

.difficulty label:hover {
    background-color: #00b176;
    color: #f9f9f9;
}

.difficulty label {
    transition: background 0.2s ease;
    font-weight: 900;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

.difficulty input[type=radio]:checked+label {
    background-color: #00b176;
    color: #f9f9f9;
}

.difficulty input {
    display: none;
}

.emoji {
    font-size: 1.5em;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease;
}

.emoji:hover {
    background-color: red;
}